.libs
.deps
.libs
.svn
*.la
*.lo
*.o
*.so
*.a
.dirstamp
*.dSYM
*.S
*.loT
*.orig
*.rej
*.class
*.xcscheme
*.plist
*~
._*
stamp-h*
config/depcomp
Makefile
Makefile.in
static-components.h
config.*
src/config.h*
src/include/ww_config.h
src/include/ww_config.h.in
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bin/Makefile
bin/Makefile.in
compile
configure
etc/Makefile
etc/Makefile.in
install-sh
lib/Makefile
lib/Makefile.in
lib/Warewulf/ACVars.pm
lib/Warewulf/Makefile
lib/Warewulf/Makefile.in
libtool
ltmain.sh
missing
src/stamp-h1
warewulf.spec
config/ar-lib
config/libtool.m4
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
config/autogen_found_items.m4
config/ylwrap
src/util/keyval/keyval_lex.c
src/util/show_help_lex.c

src/mca/installdirs/config/install_dirs.h

src/tools/submanager/submanager
