config.*
*.m4
src/config.h*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bin/Makefile
bin/Makefile.in
compile
configure
etc/Makefile
etc/Makefile.in
install-sh
lib/Makefile
lib/Makefile.in
lib/Warewulf/ACVars.pm
lib/Warewulf/Makefile
lib/Warewulf/Makefile.in
libtool
ltmain.sh
missing
src/stamp-h1
warewulf.spec
